@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body{
  background: #F2F0ED;
  background: -webkit-linear-gradient(-150deg,#F2F0ED,#2C4154);
  background: -o-linear-gradient(-150deg,#F2F0ED,#2C4154);
  background: -moz-linear-gradient(-150deg,#F2F0ED,#2C4154);
  background: linear-gradient(-150deg,#F2F0ED,#2C4154);
  font-family: 'Roboto', sans-serif;
}
html{
  font-size: .875rem;
  min-height:100%;
}
.card {
  background-color: #F2F0ED!important;
  padding: 20px 20px 20px;
  margin: 0 auto 25px;
  margin-top: 80px;
  border-top: 50px;
  max-width: 40rem;
}
.btn-primary{
  background-color:#EA6487!important;
  border-color:#EA6487!important;
}
.btn-primary:hover{
  background-color: #ce5876!important;
  border-color: #ce5876!important;
}